/* font family definition */
 @font-face {
  font-family: 'FiraSans';
  src: url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Italic.otf')  format('opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Italic.woff') format('woff'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Italic.woff2') format('woff2'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'FiraSans';
  src: url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Regular.otf')  format('opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Medium.otf')  format('opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('#{$assetPathRoot}fonts/FiraSans/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-SemiBold.otf')  format('opentype'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-SemiBold.woff') format('woff'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-SemiBold.woff2') format('woff2'),
       url('#{$assetPathRoot}fonts/FiraSans/FiraSans-SemiBold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}