/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

.flatmir-footer {
  background-color: $hawkDunkelGrau;
  .footer-title {
    margin-top: 1rem;
    display: block;
    margin-bottom: .3125rem;
    text-transform: uppercase;
    font-size: .9375rem;
    line-height: 1.625rem;
    letter-spacing: normal;
    font-weight: 600;
    color: #fff;
  }
  .footer-subline {
    color: #a8adb3;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
    font-weight: 400;
  }
  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    &:first-child {
      padding-left: 0;
    }
    a {
      color: white;
      font-size: .9375rem;
      line-height: 1.5rem;
      transition: color 150ms ease-in-out,box-shadow 150ms ease-in-out;
      &:hover {
        color: #e6eaef;
        box-shadow: 0 .125rem 0 #e6eaef;
        text-decoration: none;
      }
    }
  }
}
.internal_links {
  margin-bottom: 1rem;
  margin-top: 1rem;
  &.navbar-nav {
    flex-direction: row;
    justify-content: start;
  }
}
#powered_by {
  background-color: $hawkHellSchwarz;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
